body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #007BFF;
}

.sub-title {
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: normal;
}

.presentation {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    width: 150px;
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 8px;
}
